<h1>Enter Username</h1>
<div class="container">
    <div id= "enter-username">
        <form #myForm="ngForm"(ngSubmit)="displayQuestion(username)">
            <input type= "text" class= "form-control" id="name" required [(ngModel)]= "username" name= "username">
            <button class= "btn btn-primary">Submit</button>
        </form>
    </div>
    <div id="display-question" style="visibility: hidden;">
        <form #myForm="ngForm"(ngSubmit)="validateAnswer()">
            <label *ngIf="user !=null" for="name">Answer the following question: {{user.securityQuestion}}</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]= "securityAnswer" name= "securityAnswer">
            <button class= "btn btn-primary">Validate</button>
        </form>
    </div>
    <div id="new-password" style="visibility: hidden;">
        <form #myForm="ngForm"(ngSubmit)="updatePassword()">
            <label for="name">Enter a new password</label>
            <input type="password" class="form-control" id="password1" required [(ngModel)]="password1" name="password1">
            <label for="name">Confirm password</label>
            <input type="password" class="form-control" id="password2" required [(ngModel)]="password2" name="password2">
            <button class= "btn btn-primary">Submit</button>
        </form>
    </div>
</div>
