.scroll-table-1{
    width: 600px;
    overflow-y:scroll;
    position: relative;
    height: 200px;
}

.scroll-table{
    width: 600px;
    overflow-y: scroll;
    position: relative;
    height: 200px
}